@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@{
    ViewData["Title"] = "Admin - Roles Dashboard";
}
<div class="filler" style="height: 84px;"></div>

<main class="container dis-flex gap-md-5" style="min-height: 100vh">
<div>
    <h2>Dashboard</h2>
    <ul>
        <li class="active"><i class="fa fa-file"></i><a asp-controller="Admin" asp-action="ReviewOrders">Review Orders</a></li>
        <li><i class="fa fa-user"></i><a asp-controller="Admin" asp-action="Index">Manage Users</a></li>
        <li><i class="fa fa-cube"></i><a asp-controller="Admin" asp-action="ManageItems">Manage Products</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-users"></i> Manage User Roles
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" asp-controller="Role" asp-action="Index">Assign Roles</a>
                <a class="dropdown-item" asp-controller="Role" asp-action="Create">Create Role</a>
                
            </div>
        </li>
    </ul>
</div>

<div>
<h1 class="bg-info text-white">All Roles</h1>
<a asp-action="Create" class="btn btn-secondary">Create a Role</a>
 
<table class="table table-sm table-bordered table-bordered">
    <tr><th>ID</th><th>Name</th><th>Users</th><th>Add Users to Role</th><th>Delete</th></tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Add Users</a></td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
</div>
</main>